/*CSS RESET*/

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/backgroundImageDesktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*IMPORT FONT(S)*/
@font-face {
  font-family: 'kallistoBold';
  src: url('../Fonts/Kallisto Bold.otf') format('opentype');
  /* Add other font properties if needed */
}

/*CONTAINER + BACKGROUND IMAGE OF THE PAGE*/
.parent-element {
  max-width: none !important;
}
.landingContainer {
  height: auto;
  
}

/*FONTS IMPORT FROM LOCAL FOLDER*/
@font-face {
  font-family: 'kallistoThin';
  src: url('../Fonts/Kallisto Thin.otf') format('opentype');
  /* Add other font properties if needed */
}

@font-face {
  font-family: 'kallistoBold';
  src: url('../Fonts/Kallisto Bold.otf') format('opentype');
  /* Add other font properties if needed */
}

@font-face {
  font-family: 'kallistoLight';
  src: url('../Fonts/Kallisto Light.otf') format('opentype');
  /* Add other font properties if needed */
}

/*BACK BUTTON*/
.backButton {
  position:absolute;
  top: 40px;
  left: 10px;
  padding: 15px;
  z-index: 2;
}

/*LUCKY BREAK PICTURE*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 415px) {
  .luckyBreakPhoto {
    width: 50vw;
  }
}

@media (max-width: 415px) {
  .luckyBreakPhotoDesktopView {
    display: none;
  }
}

@media (min-width: 1023px) {
  .luckyBreakPhotoDesktopView {
    width: 20vw;
    display: block;
    right: 20%;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*QUOTE*/
@media (max-width: 415px) {
  .quote {
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: 600;
  }
}

@media (max-width: 415px) {
  .quoteDesktopView {
    display: none;
  }
}

@media (min-width: 1023px) {
  .quoteDesktopView {
    color: white;
    text-align: center;
  }
}

@media (min-width: 1023px) {
  .quote {
    text-align: center;
    width: 40%;
    font-size: 14px;
    color: white;
    font-weight: 600;
    right: 15%;
    top: 27%;
    margin-left: auto;
    margin-right: 2%;
  }
}

/*PHONE PICTURE*/
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 1023px) {
  .phone {
    position: relative;
    z-index: 1;
    top: 50px;
    width: 50vw;
  }
}

/*BILLIARD PLAYERS PICTURE*/

@media (max-width: 415px) {
  .billiardsLanding {
    position: absolute;
    top: 350px;
    width: 98vw;
    z-index:0;
  }
}

@media (min-width: 1023px) {
  .billiardsLanding {
    position: absolute;
    top: 10px;
    width: 100%;
    z-index:-1;
  }
}


/*LOGIN AND CREATE ACCOUNT BUTTONS*/

@media (max-width: 415px) {
  .landingButtonsCol {
    margin-top: 80px !important;
    z-index: 1;
  }
}

@media (min-width: 1023px) {
  .landingButtonsContainer {
    position: relative;
    width: 40%;
    bottom: 430px;
    left: 550px;
    z-index:1;
  }
}


@media (min-width: 1270px) {
  .landingButtonsContainer {
    position: relative;
    width: 40%;
    bottom: 530px;
    left: 650px;
    z-index:1;
  }
}

@media (min-width: 1365px) {
  .landingButtonsContainer {
    position: relative;
    width: 40%;
    bottom: 600px;
    left: 650px;
    z-index:1;
  }
}

/*BUTTONS*/

.loginButton {
  width: 85%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: #F0E45D !important;
  font-family: kallistoBold !important;
  color: #413C58 !important;
  z-index: 1;
}

.loginOptionDivider {
  font-family: kallistoBold;
  color: white;
}

.facebookLoginButton {
  width: 85%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: #3B5998 !important;
  font-family: kallistoLight !important;
}

.googleLoginButton {
  width: 85%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 8px;
  background-color: #EA4335 !important;
  font-family: kallistoLight !important;
}

.linkRemoveUnderline {
  text-decoration: none;
}

/*FOOTER*/
@media (max-width: 415px) {
  .login1PagcorIcon {
    width: 25vw;
  }
}

@media (min-width: 1023px) {
  .login1PagcorIcon {
    width: 5vw;
    z-index: 1;
  }
}

.login1PagcorFooterFont {
  color: white;
}