/*CSS RESET*/

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*CONTAINER + BACKGROUND IMAGE OF THE PAGE*/
.cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://i.imgur.com/yvjdWyD.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/*FONTS IMPORT FROM LOCAL FOLDER*/
@font-face {
  font-family: 'kallistoThin';
  src: url('../Fonts/Kallisto Thin.otf') format('opentype');
  /* Add other font properties if needed */
}

@font-face {
  font-family: 'kallistoBold';
  src: url('../Fonts/Kallisto Bold.otf') format('opentype');
  /* Add other font properties if needed */
}

@font-face {
  font-family: 'kallistoLight';
  src: url('../Fonts/Kallisto Light.otf') format('opentype');
  /* Add other font properties if needed */
}

/*BACK BUTTON*/
.backButton {
  position:absolute;
  top: 40px;
  left: 10px;
  padding: 15px;
}

/*MODAL*/

.modalBox {
  background-color: #413C58;
}

.modalBorder .modal-content {
  border: 1px solid #F0E45D;
  background-color: transparent;
}

.modalBorder .modal-dialog {
  opacity: 0.8;
}

.modalBorder .modal-footer {
  border: 0px;

}

.modalText {
  text-align: center;
  font-family: kallistoBold;
  color: #F0E45D;
}

.yearsOldButton {
  background-color: #55917F !important;
  font-family: kallistoBold;
}

/*LUCKY BREAK PICTURE*/
.luckyBreak {
  padding-left: 15px;
}

/*FORM*/

.forgotPass {
  color: #F0E45D;
  text-decoration: none;
}

.rememberMe {
  font-family: kallistoThin;
  color:white;
}

.loginOptionDivider {
  font-family: kallistoBold;
  color: white;
}

.button {
  width: 300px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  background-color: #F0E45D !important;
  font-family: kallistoBold !important;
  color: #413C58 !important;
}

.FacebookLoginButton {
  width: 300px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  background-color: #3B5998 !important;
  font-family: kallistoLight !important;
}

.GoogleLoginButton {
  width: 300px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  background-color: #EA4335 !important;
  font-family: kallistoLight !important;
}


.wholeForm {
  padding-top: 0px;
}

.userAndPassword {
  font-size: 0.9em !important;
  padding-top:10px !important;
  padding-bottom: 10px !important;
  background-color: rgba(251, 251, 251, 0.3) !important; /* Transparent grey background */
  color: #FFFFFF !important;
}

.userAndPassword::placeholder {
  color: #FFFFFF !important; /* Bright white placeholder color */
}

.userAndPassword::-webkit-input-placeholder {
  /* WebKit browsers (Chrome, Safari) */
  color: #FFFFFF !important; /* Bright white placeholder color */
}

.userAndPassword::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FFFFFF !important; /* Bright white placeholder color */
}

.userAndPassword:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #FFFFFF !important; /* Bright white placeholder color */
}

.userAndPassword:-moz-placeholder {
  /* Mozilla Firefox 18- */
  color: #FFFFFF !important; /* Bright white placeholder color */
}

/*BILLIARDS PEOPLE PICTURE*/
.billiards {
    position: absolute;
    bottom: 0;
}
.billiards__ {
    width: 100vw; 
    height: auto; 
}
