/*CSS RESET*/

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/backgroundImageDesktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*IMPORT FONT(S)*/
@font-face {
  font-family: 'kallistoBold';
  src: url('../Fonts/Kallisto Bold.otf') format('opentype');
  /* Add other font properties if needed */
}

/*CONTAINER + BACKGROUND IMAGE OF THE PAGE*/
.parent-element {
  max-width: none !important;
}
.landingContainer {
  height: 100%;
  
}

/*FONTS IMPORT FROM LOCAL FOLDER*/
@font-face {
  font-family: 'kallistoThin';
  src: url('../Fonts/Kallisto Thin.otf') format('opentype');
  /* Add other font properties if needed */
}

@font-face {
  font-family: 'kallistoBold';
  src: url('../Fonts/Kallisto Bold.otf') format('opentype');
  /* Add other font properties if needed */
}

@font-face {
  font-family: 'kallistoLight';
  src: url('../Fonts/Kallisto Light.otf') format('opentype');
  /* Add other font properties if needed */
}

/*BACK BUTTON*/
.backButton {
  position:absolute;
  top: 40px;
  left: 10px;
  padding: 15px;
  z-index: 2;
}

/*MODAL*/
.modalBox {
  background-color: #413C58;
}

.modalBorder .modal-content {
  border: 1px solid #F0E45D;
  background-color: transparent;
}

.modalBorder .modal-dialog {
  opacity: 0.8;
}

.modalBorder .modal-footer {
  border: 0px;

}

.modalText {
  text-align: center;
  font-family: kallistoBold;
  color: #F0E45D;
}

.yearsOldButton {
  background-color: #55917F !important;
  font-family: kallistoBold;
}

/*LUCKY BREAK PICTURE*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 415px) {
  .luckyBreakPhoto {
    width: 50vw;
  }
}

@media (max-width: 415px) {
  .luckyBreakPhotoDesktopView {
    display: none;
  }
}

@media (min-width: 1023px) {
  .luckyBreakPhotoDesktopView {
    width: 20vw;
    display: block;
    right: 20%;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*QUOTE*/
@media (max-width: 415px) {
  .quote {
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: 600;
  }
}

@media (max-width: 415px) {
  .quoteDesktopView {
    display: none;
  }
}

@media (min-width: 1023px) {
  .quoteDesktopView {
    color: white;
    text-align: center;
  }
}

@media (min-width: 1023px) {
  .quote {
    text-align: center;
    width: 40%;
    font-size: 14px;
    color: white;
    font-weight: 600;
    right: 15%;
    top: 27%;
    margin-left: auto;
    margin-right: 2%;
  }
}

/*PHONE PICTURE*/
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 1023px) {
  .phone {
    position: relative;
    z-index: 1;
    top: 50px;
    width: 50vw;
  }
}

/*FORM*/
@media (max-width: 415px) {
  .login2Form {
    width: 300px;
  }
}

@media (min-width: 1023px) {
  .login2Form {
    width: 70%;
  }
}

@media (max-width: 415px) {
  .login2Button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: #F0E45D !important;
    font-family: kallistoBold !important;
    color: #413C58 !important;
    z-index: 1;
  }
}

@media (min-width: 1023px) {
  .login2Button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: #F0E45D !important;
    font-family: kallistoBold !important;
    color: #413C58 !important;
    z-index: 1;
  }
}

.forgotPass {
  color: #F0E45D;
  text-decoration: none;
}

.rememberMe {
  font-family: kallistoThin;
  color:white;
}

.userAndPassword {
  font-size: 0.9em !important;
  padding-top:10px !important;
  padding-bottom: 10px !important;
  background-color: rgba(251, 251, 251, 0.3) !important; /* Transparent grey background */
  color: #FFFFFF !important;
}

.userAndPassword::placeholder {
  color: #FFFFFF !important; /* Bright white placeholder color */
}

.userAndPassword::-webkit-input-placeholder {
  /* WebKit browsers (Chrome, Safari) */
  color: #FFFFFF !important; /* Bright white placeholder color */
}

.userAndPassword::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FFFFFF !important; /* Bright white placeholder color */
}

.userAndPassword:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #FFFFFF !important; /* Bright white placeholder color */
}

.userAndPassword:-moz-placeholder {
  /* Mozilla Firefox 18- */
  color: #FFFFFF !important; /* Bright white placeholder color */
}

/*BILLIARD PLAYERS PICTURE*/

@media (max-width: 415px) {
  .billiardsLanding {
    position: absolute;
    top: 350px;
    width: 98vw;
    z-index:0;
  }
}

@media (min-width: 1023px) {
  .billiardsLanding {
    position: absolute;
    top: 10px;
    width: 100%;
    z-index:-1;
  }
}


/*LOGIN AND CREATE ACCOUNT BUTTONS*/

@media (max-width: 415px) {
  .landingButtonsCol {
    margin-top: 80px !important;
    z-index: 1;
  }
}

@media (min-width: 1023px) {
  .landingButtonsContainer {
    position: relative;
    width: 40%;
    bottom: 430px;
    left: 550px;
    z-index:1;
  }
}


@media (min-width: 1270px) {
  .landingButtonsContainer {
    position: relative;
    width: 40%;
    bottom: 530px;
    left: 650px;
    z-index:1;
  }
}

@media (min-width: 1365px) {
  .landingButtonsContainer {
    position: relative;
    width: 40%;
    bottom: 600px;
    left: 650px;
    z-index:1;
  }
}

/*BUTTONS*/

.loginButton {
  width: 85%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: #F0E45D !important;
  font-family: kallistoBold !important;
  color: #413C58 !important;
  z-index: 1;
}

.facebookLoginButton {
  width: 85%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: #3B5998 !important;
  font-family: kallistoLight !important;
}

.googleLoginButton {
  width: 85%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 8px;
  background-color: #EA4335 !important;
  font-family: kallistoLight !important;
}

.linkRemoveUnderline {
  text-decoration: none;
}

/*CONTAINER AFTER BUTTONS*/
@media (max-width: 415px) {
  .login2Container {
    height: 32vh;
  }
}